pipeline/pl_ingest_movie_history_data.json
{
	"name": "pl_ingest_movie_history_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_movie_history_bronze",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_file_date": {
								"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "email error",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/utils/02. mail-error"
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Ingest Movie File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/01. Ingestion_file_movie",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Language File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/02. Ingestion_file_language",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Genre File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/03. Ingestion_file_genre",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Country File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/04. Ingestion_file_country",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Person File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/05. Ingestion_file_person",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Genre File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/06. Ingestion_file_movie_genre",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Cast File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/07. Ingestion_file_movie_cast",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Language Role File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/08. Ingestion_file_language_role",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Production Company File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/09. Ingestion_folder_production_company",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Company File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/10. Ingestion_folder_movie_company",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Language File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/11. Ingestion_folder_movies_languages",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Production Country File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/miramiravia23@gmail.com/databricks-course/movie-history/Ingestion/12. Ingestion_folder_production_country",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_enviroment": {
				"type": "string",
				"defaultValue": "production"
			},
			"p_file_date": {
				"type": "string",
				"defaultValue": "2024-12-16"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-21T05:39:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}